.parks-services{
    display:flex;
    flex-flow: row wrap;
    padding: 4px;
    border: 4px solid aquamarine;
    justify-content: space-around;
    width:76.9%;
    
}

.park{
    width: 24%;
    margin: 4px;
    border: 2px solid palevioletred;
    padding: 7px;
    flex-grow: 1;
}

#area-3{
    order: -2;
}

#area-2{
    order: -1;
}

.container{
    border: 2px solid paleturquoise;
    display: flex;
    flex-flow: row nowrap;
    padding: 4px;
}

.park-guest-list{
    border: 4px solid rgb(245, 162, 115);
    justify-content: flex-end;
    margin-left: 2px;
    padding: 4px;
    width: 20%;
}

.park-info{
    align-self: flex-end;
    border: 2px solid rgb(245, 147, 245);
    margin: 4px;
    padding: 2px;
    /* width: 98%; */

}

.header{
    border: 2px solid rgb(181, 238, 158);
}